@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color: #1a3622;
  --text-color-light: #6b8370;
  --bg-color: #f9fdf5;
  --navbar-bg: #fcfef5;
  --orange: #ff8282;
  --light-green: #e5eec3;
  --light-orange: #f9b595;
  --border-color: #AFB49F;
  --border-color-green: #A6B2A8;
  --diveder-color: #DDC9C6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

img {
  height: max-content;
}

body {
  color: var(--text-color);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  direction: rtl;
}

.navbar-bg {
  background-color: var(--navbar-bg) !important;
  color: var(--text-color) !important;
}

.border-color-green {
  border-color: var(--border-color-green) !important;
}

.border-1 {
  border-width: 1px;
}

.bg-orange {
  background-color: var(--orange) !important;
  color: #fff;
}

.divider-color {
  border-color: var(--diveder-color) !important;
}

.text-color-light {
  color: var(--text-color-light) !important;
}

.border-dir {
  border-bottom: 4px solid var(--diveder-color);
}

@media (min-width:900px) {
  .border-dir {
    border-bottom: 0;
    border-left: 4px solid var(--diveder-color);
  }
}

.mySwiper {
  padding: 50px 0 !important;
  width: 450px;
  margin-right: 0 !important;
}

.swiper-pagination {
  width: 150px !important;
  right: 10px !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 35px !important;
  height: 5px !important;
  border-radius: 2px !important;
}

.input {
  border: 1px solid var(--border-color);
  border-radius: 7px;
  min-height: 50px;
  /* text-indent: 10px; */
  width: 55px !important;
}

input:focus {
  border-color: var(--text-color);
  outline: none;
}

.input-box {
  position: relative;
}

.input-box label {
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  right: 10px;
  top: 10px;
  color: var(--text-color-light);
  transition: 0.3s;
  background-color: #fff;
  padding: 0px 5px;
}

.input-box input {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  /* height: 45px; */
  text-indent: 10px;
  width: 100%;
}

.input-box input:focus {
  border-color: var(--text-color) !important;
  outline: none;
}

.input-box input:focus+label {
  top: -5px;
  font-size: 0.7rem;
}

.ltr {
  direction: ltr;
}

.not-found {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: flex-end;
  margin: 50px auto;
  background: url('./../../public/assets/img/not-found.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.bg-green {
  background-color: var(--text-color);
}

img {
  width: auto;
  height: auto;
}